CompileFlags:
  CompilationDatabase: Ancestors
  Add:
    - -std=c++23
  Remove:
    - -ferror-limit=*
Diagnostics:
  ClangTidy:
    Remove:
      - bugprone-unchecked-optional-access
Index:
  Background: Build
